[flake8]
max-line-length = 79

ignore = D101,D102
extend-ignore = D100,D104,D105,D106,D107,D203,W503

exclude =
    __pycache__,
    media,
    static,
    */migrations/

per-file-ignores =
    # 'Line too long'
    settings.py: E501

max-complexity = 10
